.about-us {
  padding-top: calc(4vw + 10px);
  padding-bottom: calc(4vw + 10px);
}

.about-us__img {
  & img {
    max-width: 100%;

    @media only screen and (max-width: $m) {
      padding-top: 10px;
    }
  }
}

.about-us__text {
  position: relative;

  & p {
    margin-bottom: calc(3vw + 10px);
  }

  &:after {
    content: " ";
    display: block;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    top: -30px;
    left: 30px;
    width: 90%;
    height: 90%;
    background-image: url("../images/paw.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: $m) {
      top: 0px;
      left: 0px;
    }
  }
}
