.call-to-action {
  background-color: $light-beige;
  padding-top: calc(2vw + 10px);
  padding-bottom: calc(2vw + 10px);
  position: relative;
  z-index: 1;
}

.call-to-action__title {
  color: $green;
  font-size: 1.65rem;
  font-weight: bold;
  margin-bottom: calc(0.4vw + 20px);
}

.call-to-action__btn {
  @media only screen and (max-width: $m) {
    text-align: center;
    padding-top: calc(3vw + 10px);
    padding-bottom: calc(3vw + 10px);
  }
}

// .call-to-action:after {
//     content: " ";
//     display: block;
//     width: 80px;
//     height: 100%;
//     background-image: url("../images/paw.png");
//     background-size: contain;
//     background-repeat: repeat;
//     opacity: 0.2;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: 2;
//   }

//   .call-to-action::before {
//     content: " ";
//     display: block;
//     width: 80px;
//     height: 100%;
//     background-image: url("../images/paw.png");
//     background-size: contain;
//     background-repeat: repeat;
//     opacity: 0.2;
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     z-index: 2;
//   }
