.contacts {
  padding-bottom: calc(2vw + 10px);
  padding-top: calc(2vw + 10px);
}

.contacts__item {
  font-weight: bold;
  padding-top: 20px;

  @media only screen and (max-width: $xs) {
    margin-left: 30px;
  }
}

.contacts__item p {
  font-weight: normal;
  margin-left: 38px;
}

.contacts__item:last-child img {
  margin-right: 6px;
}

.contacts__item img {
  position: relative;
  bottom: -10px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contacts__map {
  max-width: 100%;
  max-height: 100%;
}