.footer {
  background-color: $light-green;
  padding: 30px 0px;
  color: $light-beige;
}

.footer__soc {
  width: 50px;
  height: 50px;
}

.footer__logo {
  font-weight: bold;
}

.footer__info {
  @media only screen and (max-width: $m) {
    text-align: center;
  }
}

.footer__menu {
  list-style: none;
  font-weight: bold;
  margin-top: calc(1vw + 10px);
}

.footer__menu--left {
  text-align: right;
}

.footer__menu a:hover {
  text-decoration: underline;
}
