.main-page {
  background-image: url("../images/cat-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 100%;

  padding: 2.2vw;
  padding-bottom: 9vw;
  z-index: 1;

  @media only screen and (max-width: $m) {
    padding-top: calc(2.2vw + 60px);
  }

  @media only screen and (max-width: $s) {
    background-image: url("../images/cat-main-mob.png");
  }
}

.main-page--min {
  padding-bottom: 0;
  background-position: 80% 50%;
}

.logo {
  text-align: center;
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  z-index: 100;

  @media only screen and (max-width: $l) {
    font-size: 1rem;
  }
}

.logo::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 45px;
  width: 152px;
  height: 164px;
  background-image: url("../images/paw.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;

  @media only screen and (max-width: $l) {
    width: 100px;
  }
}

.nav {
  height: 164px;

  @media only screen and (max-width: $m) {
    display: none;
  }
}

.nav__item {
  list-style-type: none;
  font-weight: bold;
  margin: 0 15px;

  @media only screen and (max-width: $l) {
    font-size: 0.9rem;
    margin: 0 9px;
  }

  @media only screen and (max-width: 940px) {
    margin: 0 6px;
  }
}

.nav__item a:hover {
  text-decoration: underline;
}

.nav-mob {
  z-index: 150;
  display: none;
  position: fixed;
  padding: 10px;
  right: 0px;
  left: 0px;
  top: 0px;
  background: $light-beige;
  border-bottom: 2px solid $beige;
  border-left: 2px solid $beige;

  @media only screen and (max-width: $m) {
    display: block;
  }
}

.nav-mob__logo::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 35px;
  width: 80px;
  height: 50px;
  background-image: url("../images/paw.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.nav-mob__btn {
  background-color: transparent;
  background-image: url("../images/menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  float: right;
  cursor: pointer;

  @media only screen and (max-width: $xs) {
    width: 40px;
    height: 40px;
  }
}

.nav-mob__block {
  height: 0;
  overflow: hidden;
  padding-left: 10px;
}

.nav-mob__item {
  list-style: none;
  padding-left: calc(2vw + 20px);
  padding-top: 10px;
  font-weight: bold;
}

.nav-mob__item:first-child {
  padding-top: 30px;
}

.nav-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 0 2.2vw;
  background-color: $light-beige;
  z-index: 1000;
  overflow: hidden;
  height: 0;
  // border-bottom: 3px solid $white;
  box-shadow: 0 0 10px $white;

  @media only screen and (max-width: $m) {
    display: none;
  }
}

.nav-sticky .logo {
  font-size: 1rem;

  @media only screen and (max-width: $l) {
    font-size: 0.8rem;
  }
}

.nav-sticky .logo:after {
  left: 0;
}

.nav-sticky > .row {
  height: 100%;
}

.nav--visible {
  height: 72px !important;
}
