* {
  margin: 0;
  padding: 0;
}

input,
a:link,
button {
  -webkit-tap-highlight-color: transparent;
}

*,
:active,
:focus,
:hover {
  outline-style: none;
  outline-width: 0px;
  outline-color: none;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: $gray;
  line-height: 2;

  @media only screen and (max-width: $l) {
    font-size: 16px;
  }

  @media only screen and (max-width: $s) {
    font-size: 14px;
    line-height: 1.7;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  text-align: center;
}

.h1 {
  font-size: 3.3rem;
  color: $green;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.8vw;
  line-height: 1.5;

  @media only screen and (max-width: $s) {
    max-width: 100%;
    font-size: 2.5rem;
  }
}

.h2 {
  position: relative;
  display: inline-block;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: calc(1.2vw + 10px);
  font-size: 1.65rem;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  color: $green;
}

.h2:after {
  content: " ";
  display: block;
  width: 40px;
  height: 3px;
  background-color: $beige;
  position: absolute;
  top: 50%;
  right: -60px;

  @media only screen and (max-width: $s) {
    width: 30px;
    right: -40px;
  }

  @media only screen and (max-width: $xs) {
    width: 20px;
    right: -25px;
  }
}

.h2:before {
  content: " ";
  display: block;
  width: 40px;
  height: 3px;
  background-color: $beige;
  position: absolute;
  top: 50%;
  left: -60px;

  @media only screen and (max-width: $s) {
    width: 30px;
    left: -40px;
  }

  @media only screen and (max-width: $xs) {
    width: 20px;
    left: -25px;
  }
}

#main-page .h3 {
  line-height: 1.8;
  max-width: 60%;

  padding-top: calc(3vw + 10px);
  padding-bottom: calc(4vw + 10px);

  @media only screen and (max-width: $s) {
    max-width: 80%;
    font-weight: bold;
  }
}

#animals .h3 {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

#animals .h3 a {
  cursor: pointer;
}

#animals .h3 a:hover{
  text-decoration: underline;
}

#help-shelter .h3,
#found-a-house .h3 {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.h3 {
  font-size: 1.3rem;
  font-weight: normal;
}

.h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 1vw 1.5vw;
  background-color: $green;
  color: $white;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.25s;
}

.btn--margin {
  margin-top: calc(1.5vw + 10px);
}

.btn:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(#fff, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $light-green;
  }
}